name: CI

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: 1.54.0
        default: true
        profile: minimal
        components: rustfmt, clippy

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        profile: minimal

    - name: cargo fmt
      run: cargo fmt -- --check

    - name: cargo test --benches
      run: cargo +nightly test --benches && rm -r benches

    - name: cargo test
      env:
        RUSTFLAGS: -D warnings
      run: cargo test --all-targets

    - name: cargo clippy
      run: cargo clippy --all-targets -- -D clippy::all && cargo clippy --no-default-features --all-targets -- -D clippy::all
